# Global Environment Variables Template

# Backend
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_NAME=your_db_name

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3333/api

# Auth
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=3600

# Other
NODE_ENV=development
PORT=3000
